.about-header {
    padding: 20px;
    margin-top: 30px;
    font-family: Poppins-Bold;
}

.developer-img {
    border-radius: 50%;
    border-color: rgb(67, 32, 32);
    border-width: thick;
    border:5px solid rgb(255, 255, 255);
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.container{
    margin: 100px auto;
    width: 70%;
    margin-bottom: -0px;

}



.developer-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: -10px;
    justify-content: center;
}

.socials{
   padding-bottom: 10px;
   margin-top: -10px;
}

footer {
    margin-top: 40px;
    text-align: center;
    padding: 20px 0;
    font-family: DM_Sans-Regular;
}
