.AccountRecovery-title-message{
  font-family: Poppins-SemiBold;
  margin-bottom: 25px;
  margin-top: -35px;
}

.AccountRecovery-box{
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(24, 99, 32, 0.268);
  background-color: white;
  width: 45vh;
  font-family: DM_Sans-Regular;
}

.AccountRecovery-piggy{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  width: 50%;
}

  
  
  