createAccount-label{
    font-family: DM_Sans-SemiBold;
    margin-left: 2px;
}

.createAccount-top-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    flex-direction: column;
}

.createAccount-create-account-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    width: 65vh;
    margin-top: 65px;
    font-family: DM_Sans-Regular;
}

.createAccount-first-last-div{
    display: flex;
    justify-content: space-between;
}

.createAccount-first-last-div input{
    width: 27vh;
}

.createAccount-form-container {
    display: grid;
    gap: 1rem;
    margin-right: 10px;
    margin-left: 10px;
}

.createAccount-form-container::placeholder{
    color: rgba(166, 143, 143, 0.16);
}

.createAccount-instruction{
    color:rgba(0, 0, 0, 0.309);
    font-size: 13px;
    margin-bottom: -10px;
    margin-left: 2px;
}

.btn {
    display: block;
}

.createAccount-input-field {
    margin-bottom: 5px;
}


.createAccount-alr-have-acc-btn{
    text-decoration: none;
    color: #656565;
    margin: 0;
    text-align: center;
    padding-top: 10px;
    transition: color 0.3s ease
}

.createAccount-alr-have-acc-btn:hover{
    color: darkslategrey;
}

