body{
  background: rgb(55,196,143);
  background: linear-gradient(0deg, rgba(55,196,143,1) 0%, rgba(174,255,145,1) 100%); ;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.top-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


label{
    font-family: DM_Sans-SemiBold;
}

.create-account-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    width: 50%;
    margin-top: 50px;
    font-family: DM_Sans-Regular;
}

.form-container {
    display: grid;
    gap: 1rem;
}

.instruction{
    color:rgba(0, 0, 0, 0.309);
    font-size: 15px;
    margin-bottom: -10px;
    margin-left: 3px;
}

.btn {
    display: block;
    margin: 0 auto;
}

.input-field {
    margin-bottom: 10px;
}
