.top-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

label{
    font-family: DM_Sans-SemiBold;
}

.create-account-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    width: 50%;
    margin-top: 50px;
    font-family: DM_Sans-Regular;
}

.form-container {
    display: grid;
    gap: 1rem;
}

.btn {
    display: block;
    margin: 0 auto;
}

.input-field {
    margin-bottom: 20px;
}
