/* Homepage.css */

.about-header {
    padding: 20px;
    margin-top: 30px;
    font-family: Poppins-Bold;
}

.developer {
    margin: 20px;
    text-align: center;
    font-family: Poppins-Medium;
}

.developer img {
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 20px 0;
    font-family: Poppins-Regular;
}

