login-label{
    font-family: DM_Sans-SemiBold;
    margin-left: 2px;
}

.login-main-div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100vh;
}

.login-title-message{
    font-family: Poppins-SemiBold;
    margin-bottom: 25px;
    margin-top: -50px;
}

.login-box{
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(24, 99, 32, 0.268);
    background-color: white;
    width: 50vh;
    font-family: DM_Sans-Regular;

}

.login-piggy{
    width: 70%;
    height: 70%;
    margin-top: -25px;
    margin-bottom: -15px;

}

.login-no-account-label{
    text-align: center;
    margin-top: -5px;
    margin-bottom: 5px;
}

.login-forgot-pass{
    text-decoration: none;
    color: gray;
    font-size: 14px;
    margin-left: 4px;
    transition: color 0.2s ease;
}

.login-forgot-pass:hover{
    color:darkslategrey;
}



