.background {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    width: 50%;
    height: 600px;
    margin: 50px auto; /* Center the container horizontally */
    font-family: DM_Sans-Regular;
}

@keyframes pulse {
    0% {
        background-color: #86f85d; /* Start color */
    }
    100% {
        background-color: #fcff5c; /* End color */
    }
}

.progress {
    
    width: 300px !important;
    height: 150px !important;
}

.progress-bar {
    animation: pulse 1.5s infinite alternate;
    height: 100%;

}

.input-form {
    width: 300px;
    text-align: center;
    margin-top: 80px; /* Adjust margin top to create more space */
}

.update-button {
    margin-top: 20px; /* Add margin top to create space */
    padding: 10px 20px;
    background-color: #3e6e37;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: PaytoneOne-Regular;
}

.update-button:hover {
    background-color: #52814a;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%; 

}

.padding{
    margin-top: 100px;
}

.dashboard-button {
    color: #fff !important; /* Set text color to white */
    background-color: #3e6e37; /* Set background color */
    border: none;
    cursor: pointer;
    text-decoration: none !important; 
    display: inline-block ;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-family: PaytoneOne-Regular;
    padding: 12px 24px; /* Adjust padding */
    font-size: 18px; /* Adjust font size */
    border-radius: 8px; /* Add border radius for rounded corners */
}


.edit-goal-btn {
    padding: 10px 20px;
    background-color: #3e6e37;
    font-family: PaytoneOne-Regular;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dashboard-button:hover, .edit-goal-btn:hover {
    background-color: #52814a;
}
