.PigInfo-container {
    padding: 25px;
    box-sizing: border-box;
    background-color: #bda48e;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.PigInfo-top-row{
    width: 100%;
    height: 100px;
    margin-top: -15px;
    margin-bottom: 10px;
    background-color: #bda48e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
}

.Pig-Info-db-button-div {
    margin: 10px;
    margin-left: 40px;
    margin-right:-75px;
    font-size: 50px;
}

.Pig-Info-db-button{
    text-decoration: none !important;
    color: #805d53;
    transition: color ease 0.3s;
}

.Pig-Info-db-button:hover{
    color: #594533;
}

.hello-my-name-is{
    background-color: #e03d3d;
    width: auto;
    height: 30px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.PigInfo-pigName{
    background-color: #f6f3f3;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 5px;
    margin: 10px auto;
    justify-self: center;
}

.PigInfo-middle-row{
    background-color: #866148;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; /* Center vertically */
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 5px;
}

/*#866148*/
.PigInfo-savings-information{
    /*background-color: #ff0015;*/
    height: 85vh;
    width: 20%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.PigInfo-savings-information h1 {
    font-family:"Poppins-Bold";
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 40px;
    margin-bottom: -2px;
}

.PigInfo-savings-information h2{
    font-family:"DM_Sans-SemiBold";
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 33px;
    margin-bottom: 5px;
}


.PigInfo-current-savings{
    text-align: center;
    background-color: #dcc8b8;
    border-radius: 10px;
}

.PigInfo-current-savings p{
    font-size: 50px;
    font-family: DM_Sans-SemiBold;
    margin-top: -10px;
    margin-bottom: -5px;
}

.PigInfo-update-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3e6e37;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: DM_Sans-Medium;
    transition: background-color ease 0.3s;
}

.PigInfo-update-button:hover {
    background-color: #335b36;
}

.PigInfo-calculator{
    text-align: center;
    display: flex;
    padding: 10px;
    align-items: center; /* Center vertically */
    background-color: #dcc8b8;
    flex-direction: column;
    border-radius: 8px;
    height: 47%;
}

.PigInfo-what-is-this{
    cursor: pointer;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #775d49;
    text-decoration:none;
    transition: color ease 0.3s
}

.PigInfo-what-is-this:hover{
    color: rgb(79, 61, 46);
}

.PigInfo-calculator .message-css{
    background-color: white;
    color: black;
}

.PigInfo-calculator .message-css-green{
    background-color: darkolivegreen;
    font-size: 25px;
}

.PigInfo-form-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    width: 100%;
    margin-bottom: 5px;
}

.PigInfo-form-input label{
    font-family: DM_Sans-Medium;
    font-size: 17px;
}

.PigInfo-form-input input{
    height: 30%;
    justify-content: center;
}

.PigInfo-btn-group{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.PigInfo-btn-calculate{
    margin-top: 5px;
    padding: 10px 20px;
    background-color: #3e6e37;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: DM_Sans-Medium;
    transition: background-color ease 0.3s;
}

.PigInfo-btn-calculate:hover{
    background-color: #335b36;
}

.PigInfo-update-savings{
    background-color: #dcc8b8;
    border-radius: 10px;
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}

.PigInfo-input-form{
    border-radius: 10px;
    height: 55px;
    font-size: 25px;
    font-family: DM_Sans-Medium;
}

.PigInfo-input-form::placeholder{
    color: rgba(95, 101, 75, 0.47);
}





.PigInfo-image-percentageBar{
    display: flex;
    flex-direction: column;
    /*background-color: red;*/
    height: 85vh;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.PigInfo-pig-image{
    align-content: center;
    width: 900px;
    height: 650px !important;
    border: 15px solid #1f1d1b;
    border-radius: 5px;
    margin-bottom: 15px;
}

.progress {
    width: 97vh !important;
    height: 60px !important;
    font-family: DM_Sans-Medium;
    font-size: 25px;
}

.progress-bar {
    animation: pulse 1.5s infinite alternate;
    height: 100%;
}

@keyframes pulse {
    0% {
        background-color: #86f85d; /* Start color */
    }
    100% {
        background-color: #fcff5c; /* End color */
    }
}


.PigInfo-piggyBank-information{
    background-color: #ff0000;
    height: 100%;
    width: 20%;
    padding: 20px;
    border-radius: 10px;
}

.PigInfo-pig-info{
    background-color: white;
}

.PigInfo-more-savings-info{
    background-color: white;
}


.input-form {
    width: 100%; /* Adjusted width to fill the container */
    text-align: center;
    margin-top: 20px; /* Adjusted margin for consistency */
}

.edit-goal-btn {
    padding: 10px 20px;
    background-color: #3e6e37;
    font-family: PaytoneOne-Regular;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dashboard-button:hover, .edit-goal-btn:hover {
    background-color: #52814a;
}

.popup{
    background-color: white;
}