/* Profile.css */

/* Navbar styling */
.navbar {
    background-color: #fffdd0; /* Blue color */
}

.navbar-brand {
    color: black; /* White text */
    font-weight: bold;
}

.nav-link {
    color: black !important; /* White text */
}

/* White box styling */
.container-fluid.bg-white {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    width: 500px;
    height: 520px;

}

/* Page content styling */
.login_title_message {
    font-size: 24px;
    color: #333; /* Dark gray text */
}

.login_piggy {
    width: 100px; /* Adjust size as needed */
    height: auto;
}

.btn-success {
    background-color: #28a745; /* Green color */
    border-color: #28a745; /* Green border */
    font-family: 'DM_Sans-Medium';
    margin-top: 10px;
}


.container-statistics{
    background-color: white;

    width: 500px;
    height: 255px;
    border-radius: 10px;
}

.edit-settings{
    background-color: white;
    width: 500px;
    height: 255px;
    border-radius: 10px;
}

.open-modal {
    background-color: #28a745; /* Green color */
    border-color: #28a745; /* Green border */
    font-family: 'DM_Sans-Medium';
    margin-top: 10px;
    color: white;
}

.open-modal:hover{
    background-color: #17c640;
    color: white;
}

.delete-btn {
    color: white;
    background-color: #af0606; 
    border-color: #af0606; 
    font-family: 'DM_Sans-Medium';
    margin-top: 10px;
}

.delete-btn:hover{
    background-color: #d40c0c;
    color: white;
}