/* Homepage.css */

body{
  background: rgb(55,196,143);
  background: linear-gradient(0deg, rgba(55,196,143,1) 0%, rgba(174,255,145,1) 100%); ;
  width: 100vh;
  height: 100vh;
}


.about-header {
    padding: 20px;
    margin-top: 30px;
    font-family: Poppins-Bold;
}

.welcome_page_div{
  font-family: DM_Sans-Regular;
}

.developer {
    margin: 20px;
    text-align: center;
    font-family: Poppins-Medium;
}

.developer img {
    border-radius: 50%;
}

.title-container{
    padding: 20px;
    margin: 45px;
    margin-top: 10%;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.h2-subtitle{
    font-family: "DM_Sans-SemiBold";
    font-size: 40px;
    margin-top: -30px;
}

.h1-title{
    font-family: "PaytoneOne-Regular";
    font-size: 170px;
    margin-top: -40px;
    text-align: center;
    padding-bottom: 40px;
}

.description-container{
  position: absolute;
  font-family: DM_Sans-Regular;
}

.container-text{
  padding: 8rem;
  margin: 50px;
 }

 .description-header{
  font-family: PaytoneOne-Regular;
  font-size: 40px;
 }

.container-1{
  background: #f4f4f4;
  display:flex;
  padding: 4em 0;
  align-items: center;
}

.container-2{
  width: auto;
  background-color: #e8e8e8;
  padding: 4em 0;
  display:flex;
  align-items: center;
  text-align: right;
  flex-direction: row-reverse;
}

.header-content {
  flex: 1;
  padding-right: 20px; /* Adjust as needed */
  text-align: center; /* Center the text within the header content */
}
  
.header-image {
    /* Adjust the width of the image container */
  text-align: center; /* Center the image */
}

.header-image img {
  max-width: 80%; /* Adjust the width of the image */
  height: auto;
}

.get-started-description-header{
    font-family: Poppins-Bold;
    font-size: 40px;
}

.get-started-button {
    background-color: rgb(97, 166, 96);
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    font-size: 25px;
    border-radius: 8px;
    font-family: DM_Sans-SemiBold;
    margin-top: 20px;
    width: 20%; /* Adjust as needed */
    height: 90px; /* Adjust as needed */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.get-started-button:hover {
  background-color: #61be5a; /* Change background color on hover */
  color: white; /* Change text color on hover */
}

.button-container{
    width: auto;
    background-color: #E8E8E8FF;
    padding: 4em 0;
    display:flex;
    flex-direction: column; /* Changing the flex box direction to go up and down */
    align-items: center;
    text-align: right;
    justify-content: center;

}

footer {
    text-align: center;
    padding-top: 20px 0;
    font-family: Poppins-Regular;
    margin-bottom: -50px;
}