/* WelcomePage.css */

.welcomePage-fade-in {
  opacity: 0;
  animation: fadeInAnimation 2s ease forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.welcomePage-title-container{
  padding: 20px;
  margin: 45px;
  margin-top: 20vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.welcomePage-h2-subtitle{
  font-family: "DM_Sans-SemiBold", Arial;
  font-size: 40px;
  margin-top: -30px;
}

.welcomePage-h1-title{
  font-family: "CabinetGrotesk-Black", Arial;
  font-size: 200px;
  margin-top: 10px;
  text-align: center;
}

.welcomePage-description-container{
  position: absolute;
  font-family: "DM_Sans-Regular", Arial;
}

.welcomePage-container-text{
  padding: 8rem;
  margin-right: 50px;

}

.welcomePage-container-text2{
  padding: 8rem;
  margin-left: 50px;

}

.welcomePage-description-header{
font-family: "PaytoneOne-Regular", Arial;
font-size: 40px;
}

.welcomePage-container-1{
background: #f4f4f4;
display:flex;
padding: 4em 0;
align-items: center;
  height: 100vh;
}

.welcomePage-container-2{
width: auto;
background-color: #e8e8e8;
padding: 4em 0;
display:flex;
align-items: center;
text-align: right;
flex-direction: row-reverse;
  height: 100vh;
}

.welcomePage-container-3{
  background: #f4f4f4;
  display:flex;
  padding: 4em 0;
  align-items: center;
    height: 100vh;
}

.welcomePage-header-image {
  text-align: center; /* Center the image */
}

.welcomePage-header-image img {
  max-width: 80%; /* Adjust the width of the image */
  height: auto;
}

.welcomePage-get-started-description-header{
  font-family: "Poppins-Bold", Arial;
  font-size: 40px;
}

.welcomePage-get-started-button {
  background-color: rgb(97, 166, 96);
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center text horizontally */
  text-align: center;
  align-items: center; /* Center text vertically */
  font-size: 25px;
  border-radius: 8px;
  font-family: "DM_Sans-SemiBold", Arial;
  margin-top: 20px;
  width: 30vh; /* Adjust as needed */
  height: 90px; /* Adjust as needed */
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.welcomePage-get-started-button:hover {
  background-color: #61be5a; /* Change background color on hover */
  color: white; /* Change text color on hover */
  box-shadow: 0 4px 8px rgba(150, 150, 150, 0.5);
}

.welcomePage-button-container{
  width: auto;
  background-color: #E8E8E8FF;
  padding: 4em 0;
  display:flex;
  flex-direction: column; /* Changing the flex box direction to go up and down */
  align-items: center;
  text-align: right;
  justify-content: center;
}